<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- <context:component-scan base-package="com.shuangyulin.action"/>  -->
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" >
    	<property name="dataSource">
    		<ref local="dataSource" />
    	</property>
    	<property name="hibernateProperties">
    		<props>
    			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
    			<prop key="hibernate.show_sql">true</prop>
    		</props>
    	</property>
    	<property name="mappingResources">
    		<list>
    			<value>com/domain/User.hbm.xml</value>
    			<value>com/domain/User_info.hbm.xml</value>
    			<value>com/domain/Resource.hbm.xml</value>
    		</list>
    	</property>
    </bean>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
    	<property name="driverClassName">
    		<value>com.mysql.jdbc.Driver</value>
    	</property>
    	<property name="url">
    		<value>jdbc:mysql://localhost:3306/docket</value>
    	</property>
    	<property name="username">
    		<value>root</value>
    	</property>
    	<property name="password">
    		<value>mysql</value>
    	</property>
    </bean>
   
    
    <bean id="userDAO" class="com.dao.Userdaoimpl">
    	<property name="sessionFactory" ref="sessionFactory"></property> 
    </bean>
    <bean id="userDAOinfo" class="com.dao.UserInfodaoimpl">
    	<property name="sessionFactory" ref="sessionFactory"></property> 
    </bean>
    <bean id="resourcedao" class="com.dao.Resourcedaoimpl">
    	<property name="sessionFactory" ref="sessionFactory"></property> 
    </bean>
    
    <bean id="loginAction" class="com.action.LoginAction" >
    	<property name="userDAO" ref="userDAO"></property>
    </bean>
    <bean id="registeredAction" class="com.action.RegisteredAction" >
    	<property name="userDAO" ref="userDAO"></property>
    	<property name="userDAOinfo" ref="userDAOinfo"></property>
    </bean>
     <bean id="getmyinfoAction" class="com.action.GetMyInfo" >
    	<property name="userDAOinfo" ref="userDAOinfo"></property>
    	<property name="userDAO" ref="userDAO"></property>
    	<property name="resourcedao" ref="resourcedao"></property>
    </bean>
    <bean id="resourceAction" class="com.action.ResourceAction" >
    	<property name="resourcedao" ref="resourcedao"></property>
    	<property name="userDAOinfo" ref="userDAOinfo"></property>
    </bean>
</beans>